<!-- 
<div class="pophead"><h2 mat-dialog-title >{{data.title}}</h2>
  <a href="javascript:void(0);" (click)="closeDialog()" style="margin-top: 30px;margin-left: 75%;">
    <i class="fa fa-times" style="color: white;" ></i>
  </a>
</div>
<div>
   
</div> -->

<div id="privacyPolicyId" style="display: none;top: 0%;z-index: 9999;opacity: 1;" 
class="popupnew modal fade" >
  <div class="modal-dialog modal-md emaildiv">
     <!-- Modal content-->
     <div class="modal-content" >
      <h2><strong>PRIVACY POLICY</strong><button type="button" class="close" 
        (click)="close()" style=" margin-left: 697px;
        margin-bottom: 0px;
        margin-top: -3px;
        color: #565151;">&times;</button></h2>
        <div class="modal-body">
          
           <div class="padnew">
              <div class="row">
                 <div class="col-md-12">
                    <div class="row">
                       <div class="col-md-12">
                         <b>Last Updated: [11/11/2021]</b>


                         
                          <br><br>  
                        <p>We are committed to protecting your personal data and respecting your privacy. This Privacy Policy
                          ( <b> “Privacy Policy”</b> or <b>“Policy”</b>) explains how we process and treat your personal data when you use
                          [{{tradeWebsite}}] (<b>“Website”</b>) and the Nimai Trade mobile application (<b>“App”</b>, and the Website
                          and the App are collectively referred to as <b>“Platform”</b>). Unless defined in this Policy, capitalised words
                          shall have the same meaning ascribed to them in our Terms and Conditions, available at
                          [{{tradeUrl}}] (<b>“Terms”</b>). Please read this Policy in consonance with our Terms. <br>
                          By using the Platform, you confirm that you have read and accept the terms of this Policy.
                          <br><br>
                         <b> 1.&nbsp;&nbsp; BACKGROUND AND KEY INFORMATION</b><br><br>
                         1.1 &nbsp;&nbsp; <b> About Us:</b> <br><br>
                          The Platform is made available by [Nimai Trade Fintech PTE LTD] (referred to in this Policy
                          as <b> “Company”, “we”, or “us”) </b>. If you have any questions on this Policy or how we process
                          or handle your personal data, please contact: <br><br>
                           Name: Vikram Lodha <br>
                          Designation:  Co-Founder & CEO <br>
                           Email: [{{tradeLegal}}] <br><br>
                           1.2 &nbsp;&nbsp; <b> How this Policy applies</b>: <br><br>
                          We may process personal data of individuals on behalf of companies or other
                          organisations that you work for or otherwise represent. In such cases, we act as such
                          companies’ or organisations’ processor, and process your personal data on the basis
                          of their instructions. Please review their respective privacy notices to understand how
                          your personal data is handled. <br>
                          In this Policy, references to <b>“you”</b> and <b>“your”</b> are to you, an individual who is an end
                          user of the Platform. <br><br>
                           1.3&nbsp;&nbsp; <b> Review and Updates </b> :<br><br>
                          We regularly review and update our Privacy Policy, and we request you to regularly
                          review this Policy. It is also important that the personal data we hold about you is
                          accurate and current. Please keep us informed if your personal data changes during your
                          relationship with us <br><br>
                         1.4&nbsp;&nbsp; <b> Third-Party Services </b>:<br><br>
                          The Platform may include links to third-party websites, plug-ins, services, and
                          applications (“ <b> Third-Party Services </b>”). Clicking on those links or enabling those
                          connections may allow third parties to collect or share data about you. We do not control
                          Third-Party Services and are not responsible for their privacy statements. When you use
                          Third-Party Services, we encourage you to read the privacy policy of provider of such
                          Third-Party Service. <br><br>
                          <b>2. PERSONAL DATA THAT WE COLLECT</b> <br><br>
                          2.1 &nbsp;&nbsp; We collect different types of personal data about you, which we have grouped together
                          as follows: <br><br>
                         <span class="span-pad"> a. &nbsp;&nbsp; <b>Identity Data </b>, such as your name, username, designation, and documentary proof
                          of your identity.</span> <br><br>
                          <span class="span-pad"> b. &nbsp;&nbsp; <b>Contact Data</b>, such as your email address and contact number.</span><br><br>
                          <span class="span-pad">c. &nbsp;&nbsp; <b>Technical Data</b>, which includes your IP address, browser information including
                          browser type and version, time zone setting and location, corresponding location
                          details, operating system and platform, device details, and other technology on the
                          devices you use to access the Platform.</span> <br><br>
                        <span class="span-pad">d.&nbsp;&nbsp;  <b>Usage Data</b>, which includes information about how you use the Platform.</span> <br><br>
                      <span class="span-pad"> e. &nbsp;&nbsp; <b>Marketing and Communications Data</b>, which includes your preferences in
                          receiving marketing from us and our third parties and your communication
                          preferences.</span> <br><br>
                        2.2 &nbsp;&nbsp;  We also collect, use, and share aggregated data such as statistical or demographic data
                          for any purpose. Aggregated data could be derived from your personal data but is not
                          considered personal data under law as it does not directly or indirectly reveal your
                          identity. However, if we combine or connect aggregated data with your personal data so
                          that it can directly or indirectly identify you, we treat the combined data as personal data
                          which will be used in accordance with this Policy. <br><br>
                       2.3 &nbsp;&nbsp; <b>What happens if I refuse to provide my personal data ? </b> <br><br>
                          Where we need to collect personal data by law, or under the terms of a contract we have
                          with you or an organisation or company that you represent, and you fail to provide that
                          data when requested, we may not be able to perform the contract we have or are trying
                          to enter into with you (for example, to provide you with access to the Platform).  <br><br>
                          
                         <b> 3. HOW DO WE COLLECT PERSONAL DATA?</b> <br><br>
                         3.1 &nbsp;&nbsp;  We use different methods to collect data from and about you including through:<br><br>
                          
                          <span class="span-pad">  a.&nbsp;&nbsp; <b> Direct Interactions.</b> You provide us your personal data when you interact with us. This
                          includes personal data you provide when you: </span> <br><br>
                          <span class="p-pad">(i) &nbsp;&nbsp; apply for our products or services; </span><br><br>
                            <span class="p-pad"> (ii) &nbsp;&nbsp;create an account on the Platform;  </span><br><br>
                              <span class="p-pad"> (iii)&nbsp;&nbsp; subscribe to our service or publications; </span> <br><br>
                                <span class="p-pad"> (iv) &nbsp;&nbsp;request marketing to be sent to you;  </span><br><br>
                                  <span class="p-pad"> (v) &nbsp;&nbsp;enter a promotion, or survey; or  </span><br><br>
                                    <span class="p-pad"> (vi) &nbsp;&nbsp;give us feedback or contact us. </span> <br><br>
                         <span class="span-pad">  b.&nbsp;&nbsp; <b>Automated technologies or interactions.</b> As you interact with the Platform, we will
                          automatically collect Technical Data about your equipment, browsing actions, and
                          patterns. We collect this personal data by using cookies, server logs, and other similar
                          technologies. We may also receive Technical Data about you if you visit other websites
                          that employ our cookies.</span> <br><br>
                          <span class="span-pad"> c. &nbsp;&nbsp; <b>Third parties or publicly available sources.</b> We will receive personal data about you from
                          various third parties, including but not limited to: </span><br><br>
                          <span class="p-pad"> (i) Technical Data from analytics providers and advertising networks such as Google;</span> <br><br>
                            <span class="p-pad"> (ii) Contact and Transaction Data from providers of technical services; </span><br><br>
                              <span class="p-pad"> (iii) Identity and Contact Data from data brokers or aggregators; or </span><br><br>
                                <span class="p-pad"> (iv) Identity and Contact Data from publicly available sources.</span> <br><br>
                        <b>  4. HOW DO WE USE YOUR PERSONAL DATA? </b><br><br>
                          4.1 &nbsp;&nbsp; We will only use your personal data when the law allows us to. Most commonly, we will
                          use your personal data where we need to perform the contract we are about to enter
                          into or have entered into with you, where it is necessary for our legitimate interests (or
                          those of a third party) and your interests and fundamental rights do not override those
                          interests, or where we need to comply with a legal obligation. We use your personal data
                          for the following purposes: <br><br>
                          <span class="span-pad">a. To register you as a new user of the Platform. </span> <br><br>
                            <span class="span-pad">b. To process and deliver services you may seek from us. </span><br><br>
                              <span class="span-pad">c. To manage our relationship with you which will include notifying you about
                          changes to our Terms or this Policy, or asking you to leave a review or take a survey.</span> <br><br>
                          <span class="span-pad">d. To enable you to partake in or complete a survey.</span> <br><br>
                            <span class="span-pad">e. To administer and protect our business and the Platform (including
                          troubleshooting, data analysis, testing, system maintenance, support, reporting,
                          and hosting of data). </span><br><br>
                          <span class="span-pad">f. To deliver relevant Platform content and advertisements to you and measure or
                          understand the effectiveness of the advertising we serve you.</span> <br><br>
                          <span class="span-pad">g. To use data analytics to improve the Platform, our products and services,
                          marketing, customer relationships, and your experiences.</span> <br><br>
                          <span class="span-pad">h. To make suggestions and recommendations to you about goods or services that
                          may be of interest to you, or to form a view on what we think you may want or
                          need.</span> <br><br>
                          <span class="span-pad">i. To manage our third party relationships, such as those with our vendors and
                          partners.</span> <br><br>
                          <span class="span-pad">j. To enforce our Terms and other legal terms and policies.</span> <br><br>
                            <span class="span-pad">k. To comply with applicable legal requirements, such as government regulations
                          and industry standards, contracts, and law enforcement requests. </span><br><br>
                        
                         <b> 5.&nbsp;&nbsp; COOKIES </b><br><br>
                          5.1&nbsp;&nbsp; We use cookies to distinguish you from other users of the Platform and remember your
                          preferences. This helps us to provide you with a seamless user experience when you use
                          the Platform and also allow us to improve the Platform. <br><br>
                         5.2&nbsp;&nbsp; We collect data by way of ‘cookies’. Cookies are small data files which are sent to your
                          browser from the website and are stored on your computer or device (hard drive). The
                          cookies shall not provide access to data in your computer or device such as email
                          addresses or any other data that can be traced to you personally. The data collected by
                          way of cookies will allow us to provide you with access to the Platform and with a tailored
                          and user-friendly service. The cookies shall enable you to access certain features of the
                          Platform. Most web browsers and devices can be set to notify when you receive a cookie
                          or prevent cookies from being sent. If you do prevent cookies from being sent, it may
                          limit the functionality that we can provide when you visit our website or try to access a
                          part of the Platform. <br><br>
                         <b>6. &nbsp;&nbsp; DISCLOSURES OF YOUR PERSONAL DATA </b>  <br><br>
                          6.1 &nbsp;&nbsp; We may share your personal data with the parties set out below for the purposes set out
                          in Section 4. <br><br>
                          <span class="span-pad">a. Internal third parties, which are the other entities in our group of companies.</span> <br><br>
                            <span class="span-pad"> b. External third parties, such as:</span> <br><br>
                         
                            <span class="p-pad">i. service providers who provide IT and system administration services.</span> <br><br>
                              <span class="p-pad">ii. professional advisers including lawyers, bankers, auditors, and insurers who
                          provide consultancy, banking, legal, insurance, and accounting services.</span> <br><br>
                          <span class="p-pad">iii. regulators and other authorities. </span><br><br>
                            <span class="p-pad">iv.  to Banks listed on the Platform, who may contact you in order to provide you the 
                            Services.</span><br><br>

                            <span class="span-pad"> c. Third parties to whom we may choose to sell, transfer, or merge parts of our
                          business or our assets. Alternatively, we may seek to acquire other businesses or
                          merge with them. If a change happens to our business, then the new owners may
                          use your personal data in the manner set out in this Policy.</span> <br><br>
                          6.2 &nbsp;&nbsp;We require all third parties to respect the security of your personal data and to treat it in
                          accordance with the law. <br><br>
                         <b> 7. &nbsp;&nbsp;CROSS-BORDER TRANSFERS OF PERSONAL DATA </b> <br><br>
                          7.1&nbsp;&nbsp; The personal data that we process may be transferred to countries other than where you
                          are based. For example, we transfer your personal data to Singapore, where our servers
                          are located. We may also share information with entities of countries other than the one
                          you are based in. These countries shall be subject to data laws of their respective
                          countries. <br><br>
                          7.2&nbsp;&nbsp; By submitting your information and personal data to us, you agree to the transfer,
                          storage, and/or processing of such information and personal data outside the country
                          you are based in the manner described above. <br><br>
                         <b> 8. &nbsp;&nbsp;DATA SECURITY </b><br><br>
                          8.1&nbsp;&nbsp; We have put in place appropriate security measures to prevent your personal data from
                          being accidentally lost, used, or accessed in an unauthorised way, altered, or disclosed.
                          In addition, we limit access to your personal data to those employees, agents,
                          contractors, and other third parties who have a business need to know. They will only 
                          process your personal data on our instructions and they are subject to a duty of
                          confidentiality. <br><br>
                          8.2 &nbsp;&nbsp;We have put in place procedures to deal with any suspected personal data breach and
                          will notify you and any applicable regulator of a breach where we are legally required to
                          do so. <br><br>
                         <b> 9.&nbsp;&nbsp; DATA RETENTION </b><br><br>
                        9.1 &nbsp;&nbsp; We will only retain your personal data for as long as reasonably necessary to fulfil the
                          purposes we collected it for, including for the purposes of satisfying any legal, regulatory,
                          or reporting requirements. We may retain your personal data for a longer period in the
                          event of a complaint or if we reasonably believe there is a prospect of litigation in respect
                          to our relationship with you. <br><br>
                          9.2 &nbsp;&nbsp; In some circumstances, we may anonymise your personal data (so that it can no longer
                          be associated with you) for research or statistical purposes, in which case we may use
                          this information indefinitely without further notice to you. </p>  

                         
                       </div>
                    </div>
                    <!-- <button type="submit" class="handleRefEdit btn btn-info pull-right" (click)="attemptOk()">OK</button> -->
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>




<div id="termsConditionId" style="display: none;top: 0%;z-index: 9999;opacity: 1;" 
class="popupnew modal fade" >
  <div class="modal-dialog modal-md emaildiv">
     <!-- Modal content-->
     <div class="modal-content" >
      <h2><strong>TERMS AND CONDITIONS </strong><button type="button" class="close" 
        (click)="close()" style=" margin-left: 624px;
        margin-bottom: 0px;
        margin-top: -3px;
        color: #565151;">&times;</button></h2>
        <div class="modal-body">
          
           <div class="padnew">
              <div class="row">
                 <div class="col-md-12">
                    <div class="row">
                       <div class="col-md-12">
                        <p>      
                          <b> LAST UPDATED: [11/11/2021]</b>
<br><br>
        These terms and conditions (<b> “Terms” </b>) govern the Users ( as defined below) availing the Services (as
        defined below) provided by Nimai Trade Fintech Pte. Ltd. (<b>“Company”</b> or <b>“we”</b> or <b>“us”</b>), having its
        registered office at 160, Robinson Road, #23-08 Singapore Business Federation Center, Singapore
        (068914) through its website which is available at [{{tradeWebsite}}] (<b>“Website”</b>) and the mobile
        application, (<b>“App”</b>), which may be made available to the Users by the Company.
        <br>
        These Terms also include our privacy policy, available at (“{{tradeWebsite}}”), and any other
        guidelines, additional terms, policies or disclaimers made available by us from time to time or any
        agreement executed between the Parties (as defined below). In the event of a conflict between these
        Terms and the agreement executed between the Parties (if any), these Terms shall prevail unless
        expressly specified to the contrary in such agreement.
        <br>
        These Terms may be updated by us from time to time. You can always review the most current version
        of these Terms on the Platform (as defined below). If, at any point in time, you do not agree to these
        Terms or if you cannot comply with the requirements set forth herein, you should not view, use or
        access the Platform. <br>
        As a User Representative (as defined below), you represent that: (a) you are entering into these Terms
        on behalf of the User; (b) the Account (as defined below) is for and held in the name of the User; (c)
        the User has full legal capacity and is in good standing in the jurisdiction in which it is formed; and (d)
        you have full legal capacity and authority to bind yourself and the User to these Terms. <br><br>
      <b> 1. DEFINITIONS </b><br><br>
        1.1 The following definitions shall apply in these Terms: <br><br>
        a.<b> “Applicant”</b> shall mean a legally recognized entity which intends to carry out the Trade
        Transaction in favour of the Beneficiary. <br><br>
        b. <b>“Beneficiary”</b> shall mean a legally recognized entity which benefits from the Trade
        Transaction carried out by the Applicant. <br><br>
        c. <b>“Bank”</b> shall mean and include any banks and financial institution which shall facilitate
        the Applicant and/or the Beneficiary to successfully carry out the Trade Transactions. <br><br>

d. <b> “Confidential Information”</b> shall mean any information shared by the Company, in writing or 
orally (which is reduced in writing within 7 days), including but not limited to (i) data or 
information that is proprietary in nature and not generally known to the public, whether in 
tangible or intangible form; (ii) information pertaining to trade secrets, patents, patent 
applications, copyrights, know-how, works-in-progress, processes, ideas, inventions 
(whether patentable or not), formulas, computer programs, databases, names and expertise 
of employees and consultants, business plans, projections, operations, sales information, any 
other technical, business, financial, customer data and product development plans, reports, 
flow charts, supplier information, forecasts, works-in-progress strategies and other 
confidential information of the Company; (iii) discussions and negotiations taken place 
concerning the Services and the status of those discussions and negotiations; and (iv) Derived 
Confidential Information. Confidential Information need not be novel, unique, patentable, 
copyrightable or constitute a trade secret in order to be designated as Confidential 
Information. <br><br>
 e. <b> “Derived Confidential Information” </b>shall mean any information, findings, data or analysis 
 derived by the User from the Confidential Information of the Company, whether directly or 
 indirectly. <br><br>

 f. <b> “Governmental Authority”</b> shall mean any judicial or quasi-judicial authority or any 
 regulatory, statutory authority of any such territory where the Company is offering its 
 Services. <br><br>
 
        g. <b>“Services”</b> ” shall mean and include all the services provided by the Company through its 
        Platform, including connecting the Applicants and/or the Beneficiary with the Banks in order 
        for the Applicants and/or Beneficiary to access Quotes for carrying out Trade Transactions, 
        and other value-added services and products that may be offered from time to time.
         <br><br>
        h. <b>“Referral Partner(s)”</b> shall mean a person or entity that refers a potential Applicant or
        Beneficiary to the Company.  <br><br>
        i.<b> “Trade Transaction(s)”</b> shall mean trade transactions or international trade transactions
        involving goods and services, across counterparties in various countries or the same
        country, for which financing is sought for the full value or part value including issuance
        and/or confirmation and/or discounting and/or refinancing of letter of credit. <br><br>
        j. <b>“Platform”</b> shall mean the Website and the App collectively. <br><br>
        k. <b>“Parties”</b> shall mean the Company and the User collectively. <br><br>
        l. <b>“Quote”</b> shall mean price quotation provided/listed by the Bank which will be charged by
        the Bank in the event the Applicant and/or Beneficiary carry out any trade transactions
        through the Bank. <br><br>
        m.<b> “User”</b> shall mean any entity that avails the Services offered by the Company through the
        Platform. <br><br>
        n. <b>“User Representatives”</b> shall include the employees, agents, representatives of the Users
        who are authorized by the Users to use and access the Platform. <br><br>
        o. <b>“you”</b> or <b>“your”</b> shall mean the User and the User Representative collectively. <br><br>
      <b>2. PLATFORM </b><br><br>
        2.1 To access the Platform, the User shall create and operate accounts on the Platform (“Account”).
        The Account may be operated by one or more User Representativessimultaneously. You hereby
        represent that you have all the rights required to provide the information that you have
        provided to the Company and you hereby represent that all the information provided by you to
        the Company is complete, true, and accurate. <br><br>
        2.2 You are responsible for maintaining the confidentiality of your username(s) and password(s)
        assigned to you during the Account registration process. <br><br>
        2.3 You agree to immediately notify us of any unauthorized use of the Account, or any other breach
        of security with respect to your Account including any unauthorized disclosure of the username
        or password by the User Representatives. <br><br>
        2.4 You must ensure that you log out from the Account at the end of each session to prevent any
        misuse of the Account. <br><br>
        2.5 You shall be responsible, liable and accountable for all actions that take place through your
        Account. The Company shall in no manner be liable for any actions that take place through your
        Account including but not limited to hacking and security breaches. <br><br>
        2.6 The Company reserves, at its sole discretion, the right to suspend the Account if it is of the
        opinion that the Account is being accessed by any unauthorized party. <br><br>
        2.7 You must comply with all applicable laws and regulatory requirements, including privacy laws
        and intellectual property laws in using or accessing the Platform. <br><br>
        2.8 The User shall at all times be liable for the acts and omissions of the User Representatives. <br><br>
      <b> 3. KYC REQUIREMENTS </b><br><br>
        3.1 All the Users will be required to provide the Company with such details and documents (<b>“KYC Documents”</b>),
        as maybe required by the Company from time to time. <br><br>
        3.2 In the event that there are any changes in the KYC Documents provided by the User to the Company, said
        changes shall be updated by the User by editing its profile available on the Platform. <br><br>
        3.3 The User hereby agrees and acknowledges that in the event the KYC Documents provided by the User is not
        acceptable to the Company, the Company shall not grant the User the right to use and access
        the Platform. In the event the Company declines to onboard the User due to insufficient or
        invalid KYC Documents, the Company shall refund to the User the fees collected by the User during such
        onboarding process. <br><br>
        3.4 In the event that it comes to the knowledge of the Company that KYC Documents provided by the User is
        false or fraudulent, the User’s access to the Platform will be terminated immediately and the
        Fees paid by the User (if any) shall be forfeited. <br><br>
      <b>4. PROHIBITED USES </b><br><br>
        4.1 You shall not: <br><br>
        (a) use the Platform in any manner except as expressly permitted in this Terms; <br>
        (b) modify or create derivative works based upon the Platform; <br>
        (c) reverse engineer, decompile, disassemble, or otherwise attempt to derive the source
        code of the Platform; <br>
        (d) access and/or utilise the Confidential Information in order to build a similar or competitive 
        product;
         <br>
        (e) sublicense, resell, rent, lease, distribute, market, or otherwise transfer usage or other
        rights to the Platform or modify or alter any part of the Platform; <br>
        (f) use any robot, crawler, other automated device, or manual process to monitor or copy
        any part or the whole of the Platform; <br>
        (g) use the Platform (i) in any unlawful manner, (ii) for fraudulent or malicious activities, or
        (iii) in any manner inconsistent with this Terms; <br>
        (h) probe, scan, or test the vulnerability of any system or network; <br>
        (i) breach or otherwise circumvent any security or authentication measures;<br>
        (j) access, store, distribute or transmit any viruses on the same device as the Platform;<br>
        (k) access, search, or create accounts for the Platform by any means (automated or<br>
        otherwise) other than our publicly supported interfaces (for example, "scraping" or
        creating accounts in bulk) or attempt to do so;<br>
        (l) “frame”, “mirror” or otherwise incorporating any part of the Website into any other
        website without our prior written authorization;<br>
        (m) deep-link to any portion of the Platform (including, without limitation, the purchase
        path for any service) for any purpose without our express written permission;<br>
        (n) conduct surveys, contests, or pyramid schemes, or promote or advertise products or
        services without appropriate authorisation;<br>
        (o) undertake activities that are in violation of the applicable law.<br><br>
      <b>5. FEES </b><br><br>
        5.1 The fees charged by the Company for the Services shall be set forth on the Platform (<b>“Fees”</b>).<br><br>
        5.2 The Fee shall be exclusive of any taxes that may be applicable. The User shall at all times be
        liable to pay the taxes, charges, levies, cess (including any withholding taxes) that may be levied
        on the User due to the User’s use of the Platform.<br><br>
        5.3 The invoice shall be sent to the User’s registered email address and/or the same shall be made
        available for the User on the Platform.<br><br>
        5.4 The fees structure can be changed from time to time. Fees once paid will not be refunded
        (partial or entire) to User, except for Clause 3.3.<br><br>
      <b> 6. INTELLECTUAL PROPERTY </b><br><br>
        6.1 <b> Right to Use:</b> Subject to the User’s payment of applicable Fees, we hereby grant you a
        worldwide, royalty-free, non-assignable, non-transferrable, non-sublicensable, non-exclusive
        and revocable license to access and use our Platform, in accordance with the Terms.<br><br>
        6.2 Subject to the limited right granted in Clause 6.1, all rights, title, and interest in and to the
        Platform, including all intellectual property rights in relation to the Platform, are owned by or
        otherwise licensed to the Company.<br><br>
        6.3 The Company may request you to submit suggestions and other feedback, including bug
        reports, relating to the Platform from time to time (<b>“Feedback”</b>). The Company may freely use,
        copy, disclose, create derivative works, publish, display, distribute, and exploit the Feedback
        without any payment of royalty, acknowledgement, prior consent, or any other form of
        restriction arising out of your intellectual property rights.<br><br>
        6.4 The Platform, domain name, and any other linked pages, features, content, or application
        services (including without limitation any mobile application services) offered from time to time
        are owned and operated by us. Subject to these Terms, we may allow you to use the Services,
        solely (whether or not) for your own use, and not for the use or benefit of any third party.<br><br>
      <b> 7. THIRD PARTY CONTENT </b><br><br>
        7.1 The Platform may contain links to third party content. You understand that third party content
        is the responsibility of the third party that created or provided it and the Company excludes all
        warranties and liabilities pertaining to such third party content available on the Platform
        through such links. You acknowledge that the use of such third party content through such links
        is solely at your own risk.<br><br>
        7.2 All intellectual property rights in and to third party content are the property of the respective
        third parties.<br><br>
        7.3 The Company does not control, endorse, sponsor, or adopt any third parties referenced on the
        Platform, and makes no representations or warranties of any kind regarding such third party
        content, including, without limitation, its accuracy or completeness.<br><br>
      <b>8. DISCLAIMERS AND WARRANTIES</b><br><br>
        8.1 You agree and acknowledge that:<br><br>
        (a) your use of the Platform is at your sole risk.<br><br>
        (b) we are not party to any contract with respect to the Trade Transactions; and accordingly,
        we will not be liable to any person in relation to any Trade Transactions listed on our
        Platform.<br><br>
        (c) we are not responsible for the enforcement of any contractual obligations arising out of
        a contract in relation to a Trade Transaction and we will have no obligation to mediate
        between the parties to any such contract.<br><br>
        (d) each arrangement confirmed among the Users shall be an arrangement entered into
        directly and only amongst such parties. We shall in no event be liable for the acts and
        omissions of any third parties involved in the Trade Transactions.<br><br>
        (e) all Quotes provided by the Banks are tentative in nature. The final price charged by the
        Bank shall will be determined based on the details of each Trade Transaction to be carried
        out. We shall in no event liable for any loss or damage caused to you due to the revisions
        in the Quote.<br><br>
        (f) we shall in no event be liable to you for any acts or omissions of the Users including but
        not limited to failure of the Bank to provide you with Quote; rejection of the Quote
        provided by the Bank, at any stage, by the Applicant or the Beneficiary.<br><br>
        8.2 The Company does not own, control, recommend or endorse any information, Quotes, content
        that is made available through the Platform and disclaims all liabilities or warranties arising out
        of or in connection with such information, Quotes and content.<br><br>
        8.3 To the extent permitted by applicable law, the Platform is provided on an “as is” and “as
        available” basis. The Company does not warrant that operation of the Platform will be
        uninterrupted or error free or that the functions contained in the Platform will meet your
        requirements.<br><br>
        8.4 To the fullest extent permissible under applicable law, the Company expressly disclaims all
        warranties of any kind, express or implied, arising out of the Platform, including warranties of
        merchantability, fitness for a particular purpose, satisfactory quality, accuracy, title and noninfringement, compatibility, applicability, usability, appropriateness, and any warranty that may
        arise out of course of performance, course of dealing, or usage of trade.<br><br>
        8.5 You hereby accept full responsibility for any consequences that may arise from your use of the
        Platform, and expressly agree and acknowledge that the Company shall have absolutely no
        liability with respect to the same.<br><br>
        8.6 To the fullest extent permissible by law, the Company, its affiliates, and its related parties each
        disclaim all liability to you for any loss or damage arising out of or due to:<br><br>
        (a) your use of, inability to use, or availability or unavailability of the Platform, including any
        third-party services made available through the Platform;<br><br>
        (b) the occurrence or existence of any defect, interruption, deletion of files, delays in the
        operation or transmission of information to, from, or through the Platform,
        communications failure, theft, destruction or unauthorised access to the Company’s
        records;<br><br>
        (c) programs, services, server, or other infrastructure relating to the Platform;<br><br>
        (d) the Platform being infected with any malicious code or viruses;<br><br>
        (e) any currency fluctuations; and<br><br>
        (f) the failure of the Platform to remain operational for any period of time.<br><br>
      <b>9. CONSENT TO USE DATA</b><br><br>
        9.1 You hereby understand and acknowledge that in connection with Services provided by the
        Company, the Company may process User information. You agree that the Company may also,
        in accordance with its privacy policy, collect and use personal information and data.<br><br>
        9.2 We may also use the data to send communications to you (through any medium whatsoever),
        which may include marketing materials such as newsletters and updates about the Services or
        Platform.<br><br>
        9.3 The Company may use information and data pertaining to your use of the Platform and Services
        for analytics, trendsʼ identification, and purposes of statistics to further enhance the
        effectiveness and efficiency of the Platform.<br><br>
        9.4 Subject to applicable laws, the Company may be directed by Governmental Authorities to disclose 
        data in relation to Users in connection with proceedings. You understand and agree that in such 
        instances, the Company shall have the right to share such data with such Governmental Authority.<br><br>
      <b>10. TERM & TERMINATION</b><br><br>
        10.1 These Terms shall remain in effect unless terminated in accordance with the terms hereunder.<br><br>
        10.2 The Company may terminate the Account or your access to the Platform, immediately and at
        any time, at its sole discretion if the User violates or breaches any of its obligations,
        responsibilities, or covenants under these Terms.<br><br>
       10.3 The User may request termination of the Account by writing to us at: legal@360tf.trade with a
       thirty day notice period. Fees once paid will not be refunded (partial or entire) to User.<br><br>
        10.4 Upon termination:<br><br>
        (a) the Platform and Services will “time-out”;<br>
        (b) the User shall not be eligible to use and/or access the Platform and avail any Services;
        and<br>
        (c) these Terms shall terminate, except for those clauses that expressly or are intended to
        survive termination or expiry.<br><br>
      <b> 11. INDEMNITY</b><br><br>
      Subject to clause 12.3, you agree that you shall on demand indemnify, defend at the Company’s 
      option, and hold the Company, its parent companies, subsidiaries, affiliates, officers, associates, 
      successors, assigns, licensors, employees, directors, agents, and representatives, harmless from 
      and against any claim, demand, lawsuits, judicial proceeding, losses, liabilities, damages and costs 
      (including, without limitation, from all damages, liabilities, settlements, costs and attorneys’ fees) 
      due to or arising out of: (i) your use and access of the Platform and Services, or (ii) any violation of 
      these Terms, or (iii) any third party infringement claim arising out the information (including KYC
      Documents) provided by you.
      <br><br>
      <b>12. LIMITATION OF LIABILITY. </b><br><br>
        12.1 Notwithstanding anything to the contrary contained herein, neither the Company nor its
        affiliates nor any related party shall be liable to you for any direct, indirect, incidental, special 
        or consequential damages or any loss of revenue or profits arising under, directly or indirectly,
        or relating, in any manner whatsoever, to the Terms.<br><br>
        12.2 To the maximum extent permitted by law, the User agrees to waive, release, discharge and hold
        harmless the Company, its affiliated and subsidiary companies, and each of their directors,
        officers, employees, and agents, from any and all claims, losses, damages, liabilities, expenses
        and causes of action arising out of the Platform and Services.<br><br>
        12.3 The total aggregate liability of the User to the Company and the Company to you or any third party, 
        whether in contract, tort, negligence or otherwise, howsoever arising, whether in connection with 
        these Terms of Use, your access and use of Platform and functionalities, shall in no event exceed 
        USD 10,000 (United States Dollar Ten Thousand only) or the Fees paid by the User in the last 12
        (Twelve) months, whichever is higher, regardless of whether the claim or action is based on 
        contract, tort, warranty, indemnification or otherwise<br><br>
      <b>13. MODIFICATION</b><br><br>
        13.1 The Company reserves the right at any time to add, modify or discontinue, temporarily or
        permanently, the Platform (or any part thereof) with or without notice or cause. You agree and
        acknowledge that the Company shall not be liable to you or to any third party for any such
        addition, modification, suspension or discontinuation of the Platform.<br><br>
        13.2 Additionally, the Company reserves the right at any time to modify these Terms and to add new
        or additional terms or conditions on your use of the Platform. Such modifications and additional
        terms and conditions will be communicated to you and, unless expressly rejected, will be
        effective immediately and will be incorporated into these Terms. In the event, you refuse to
        accept such changes, you should not view, use or access the Platform in any manner.<br><br>
      <b>14. SEVERABILITY</b><br><br>
        If any provision of these Terms is determined by any court or other competent authority to be
        unlawful or unenforceable, the other provisions of these Terms will continue in effect. If any
        unlawful or unenforceable provision would be lawful or enforceable if part of it were deleted,
        that part will be deemed to be deleted, and the rest of the provision will continue in effect
        (unless that would contradict the clear intention of the paragraph, in which case the entirety of
        the relevant provision will be deemed to be deleted).<br><br>
      <b>15. ASSIGNMENT</b><br><br>
        You hereby agree that the Company may assign, transfer, sub-contract or otherwise deal with
        the Company’s rights and obligations under these Terms. Usershall not, without the Company’s
        prior written consent, assign, transfer, sub-contract or otherwise deal with any of the User’s
        rights and obligations under these Terms.<br><br>
       <b> 16. THIRD PARTY RIGHTS</b><br><br>
        No third party shall have any rights to enforce any Terms contained herein. <br><br>
      <b>17. GOVERNING LAW </b><br><br>
      These Terms shall be governed by and construed and enforced exclusively in accordance with the 
      laws of England and Wales.<br><br>

      <b>18. DISPUTE RESOLUTION      </b><br><br>
      18.1. Any dispute, controversy or claim arising out of or relating to these Terms, including the formation, 
      interpretation, breach, or termination thereof, including whether the claims asserted are 
      arbitrable, will be referred to and finally determined by arbitration in accordance with the JAMS 
      International Arbitration Rules. The arbitral tribunal will consist of one arbitrator, mutually decided 
      upon by the Parties. Arbitration shall be conducted via JAMS virtual arbitration. The language to 
      be used during the arbitral proceedings shall be English. The award rendered by the arbitrator shall 
      be final and binding and may be entered in any court having jurisdiction thereof. <br> <br>
      18.2. The Parties shall maintain the confidential nature of the arbitration proceeding and the award, 
      including the hearing, except as may be necessary to prepare for or conduct the arbitration hearing 
      on the merits, or except as may be necessary in connection with a court application for a preliminary 
      remedy, a judicial challenge to an award or its enforcement, or unless otherwise required by 
      applicable law or judicial decision. <br> <br>
      
      <b>19. CONTACT</b><br><br>
        If you have any questions, complaints, or claims with respect to the Services, you may contact
        us at [{{tradeLegal}}]. All our contact details are available at [{{tradeWebsite}}].
                          
                          <br><br>
                        </p>  

                         
                       </div>
                    </div>
                    <!-- <button type="submit" class="handleRefEdit btn btn-info pull-right" (click)="attemptOk()">OK</button> -->
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
