<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="fas fa-tasks"></i>
                                        </div>
                    
                    <div class="card-content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h4 class="card-title"> <span id="changetext"><b style="font-weight: 500 !important; "> Manage Group Companies</b></span>
                                <ul class="pull-right list-unstyled list-inline statusbar">
                                    <li>
                                        <label>Group Companies Slots Available <span class="">{{available}}</span></label>
                                    </li>
                                    <li><label>Group Companies Slots Utilized <span>{{subuticount}}</span></label></li>
                              <li> 
                                  <!-- <a  href="javascript:void()" class="btn btn-info pull-right"
                                 (click)="addSubsidiary()">+ Add Subsidiary</a> -->
                                </li>
                                </ul>
                               
                            </h4>
                        </div>
                       <!-- <div class="col-md-4 col-sm-12 col-xs-12">
                        <a class="btn btn-info pull-right" (click)="addSubsidiary()">+ Add Subsidiary</a>
                       </div> -->
                       <a  href="javascript:void()" class="btn btn-info pull-right addSub"
                       (click)="addSubsidiary()">+ Add Company</a>
                                        <div class="row">
                        <div class="col-md-12" *ngIf="noData">
                            No Subsidiary Data is available
                        </div>
                        <div class="col-md-12" *ngIf="!noData">
                            <div class="table-responsive material-datatables" id="transactionID" cellspacing="0" width="100%" style="width:100%">
                                <table class="table table-hover" id="datatables">
                                <thead>
                                    <tr>
                                        <th style="min-width: 19px !important;" class="disabled-sorting text-center">#</th>
                                        <th style="min-width: 130px;">Date</th>
                                        <th style="min-width: 150px;">Company Name</th>
                                        <!-- <th style="min-width: 120px;">First Name</th>
                                        <th style="min-width: 120px;">Last Name</th>
                                        <th style="min-width: 210px;">Email</th>
                                        <th style="min-width: 100px;">Credits Used</th>
                                        <th style="min-width: 130px;width: 100px !important;">Quotes Received</th> -->
                                        <th style="min-width: 100px;" nowrap class="disabled-sorting text-center">Status</th>
                                        <th style="min-width: 130px;">KYC Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of subsidiaryData; let i = index">
                                        <td>{{i+1}}</td>                                       
                                        <td>{{list.accountCreatedDate  | date : "dd-MM-y"}}</td>                                    
                                        <td>{{list.companyName}}</td>
                                        <!-- <td>{{list.firstName}}</td>
                                        <td>{{list.lastName}}</td>
                                        <td>{{list.emailAddress}}</td>
                                        <td>{{list.creditUsed}}</td>
                                        <td>{{list.quoteReceived}}</td> -->
                                        <td >{{list.accountStatus}}</td>  
                                        <td>{{list.kycStatus}}</td>
                                        <!-- <td *ngIf="false">{{list.accountStatus}}</td>   -->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addsub" class="popupnew modal fade in" role="dialog" style="display:none;">
    <div class="modal-dialog emaildiv" style="width: 99%;">
        <!-- Modal content-->
        <div class="modal-content">
            <form [formGroup]="manageSubForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <h2>Add Group Company
                        <button type="button" class="close" (click)="close()">&times;</button>
                    </h2>
                    <div class="padnew">
                        <div class="row">
                            <div class="col-md-12">
                             <div id="authemaildiv">
                                    <!-- <p *ngIf="!respMessage"><strong>Enter details of an Authorized user</strong></p> -->
                                  
                                   <!-- <b> <div class="col-md-1" style="width: 5.333333%;">Sr No</div>
                                    <div class="col-md-1 wd">Company Name</div>
                                    <div class="col-md-1 wd">Registration Type</div>
                                    <div class="col-md-1 wd">Country</div>
                                    <div class="col-md-1 wd">Province/State</div>
                                    <div class="col-md-1 wd" style="padding-left: 37px !important ;">City</div>
                                    <div class="col-md-1 wd">Adress</div>
                                    <div class="col-md-1 wd">Zipcode</div>
                                    <div class="col-md-1 wd">Tel no</div>
                                    <div class="col-md-1 wd">KYC Country</div>
                                    <div class="col-md-1 wd">Valid Document</div>
                                    <div class="col-md-1 wd" style="width: 11.333333%;padding-left: 10px !important;">Upload 
                                          <span style="margin-left: 33px;">Delete </span> </div>
                                    
                                </b> -->
                                    <div formArrayName="details"  *ngFor="let item of manageSubForm.get('details').controls; let i = index;">
                                    <div class="col-md-1" style="width: 5.333333%;">
                                        <div class="inputDiv">
                                                <strong>{{i + 1}}</strong>
                                          
                                        </div>
                                    </div>
                                    <div [formGroupName]="i">
                                    <div class="col-md-1">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="" formControlName="companyName" (keydown)="validateRegexFields($event, 'name_validation')">
                                            <label>Company Name</label>
                                          
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="inputDiv">
                                            <!-- <input type="text" maxlength="" formControlName="registrationType" (keydown)="validateRegexFields($event, 'name_validation')"> -->
                                            <select formControlName="registrationType" class="countryddl" >
                                                <option value=''>Select</option>
                                                <option value='Impoter'>Impoter</option>
                                                <option value='Expoter'>Expoter</option>
                                                <option value='Both'>Both</option>
                                            </select>
                                            <label>Registration Type</label>
                                           
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-1">
                                        <div class="inputDiv selectdiv">
                                            <select formControlName="country" class="countryddl" (ngModelChange)="showCountryCode($event)">
                                                <option value=''>Select</option>
                                                <option *ngFor="let data of resp" [ngValue]='data.country'>{{data.country}}</option>                         
                                            </select>
                                            <label>Select Country</label>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <!-- <div class="inputDiv selectdiv">
                                            <select formControlName="province" class="countryddl" (ngModelChange)="showCountryCode($event)">
                                                <option value=''>Select</option>
                                                <option *ngFor="let data of resp" [ngValue]='data'>{{data.country}}</option>                         
                                            </select>
                                            <label>Province/State</label>
                                            <div *ngIf="submitted && manageSubForm.province.errors" class="invalid-feedback">
                                                <div *ngIf="manageSubForm.province.errors.required">
                                                    province field is required
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="inputDiv">
                                            <input type="text"    formControlName="state" 
                                            (keydown)="validateRegexFields($event, 'name_validation')">
                                            <label>Province/State</label>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="inputDiv">
                                            <input type="text"    formControlName="city" (keydown)="validateRegexFields($event, 'name_validation')">
                                            <label>City</label>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="inputDiv">
                                            <input type="text"    formControlName="address" (keydown)="validateRegexFields($event, 'name_validation')">
                                            <label>Address</label>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="inputDiv">
                                            <input type="text"    formControlName="zipcode" (keydown)="validateRegexFields($event, 'name_validation')">
                                            <label>Zipcode</label>
                                          
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="telephone" maxlength="12" (keypress)="validateRegexFields($event,'number')">
                                            <label>Telephone No.</label>
                                            <!-- <div *ngIf="manageSubForm.telephone.touched && manageSubForm.telephone.errors?.minlength" class="invalid-feedback">
                                                Landline No. is atleast of 7 digits.
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="inputDiv selectdiv">
                                            <select formControlName="kycCountry" class="countryddl" (ngModelChange)="showCountryCode($event)">
                                                <option value=''>Select</option>
                                                <option *ngFor="let data of resp" [ngValue]='data.country'>{{data.country}}</option>                         
                                            </select>
                                            <label>KYC Country</label>
                                          
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="inputDiv selectdiv">
                                            <select formControlName="validDocument" class="countryddl" (ngModelChange)="showCountryCode($event)">
                                               <!--  <option value=''>Select</option>
                                                <option *ngFor="let data of resp" [ngValue]='data'>{{data.country}}</option>-->
                                                <!-- <option [ngValue]="null" selected>Select</option> -->
                                                <option value=''>Select</option>
                                                <option value="Passport" >Passport</option>
                                                <option value="Driving License" >Driving License</option>
                                                <option value="National Identity Card" >National Identity Card</option>
                                                <option *ngIf="isCustomer" value="Registration Certificate or equivalent">Registration Certificate or equivalent</option>
                                                <option value="Address Proof">Address Proof</option>
                                                <option *ngIf="isCustomer" value="Tax identification document">Tax identification document</option>
                                                <option *ngIf="isBank" value="Statutory License" style="color: black;">Statutory License</option>
                                          
                                            </select>
                                            <label>Valid Document</label>
                                            <!-- <div *ngIf="submitted && manageSubForm.validDocument.errors" class="invalid-feedback">
                                                <div *ngIf="manageSubForm.validDocument.errors.required">
                                                    Valid Document field is required
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="inputDiv">
                                            
                                            <input  #myInput (change)="handleFileProForma($event,item)" type="file" data-placeholder="No file" 
                                             name="uploadDocument" 
                                            id="uploadDocument" data-icon="false" style="width: 112%;"/>
                                            <i class="material-icons closeNone closeBtnx"style="right: -49px;font-size: 24px !important;position: absolute;color: #5bb1e3;cursor: pointer;top: 8px;" 
                                     (click)="deleteFileContent1(i)">delete</i>
                                            <!-- <input type="text" formControlName="uploadDocument" maxlength="12" (keypress)="validateRegexFields($event,'number')"> -->
                                            <!-- <label>Upload Document</label> -->
                                            <!-- <div *ngIf="manageSubForm.uploadDocument.touched && manageSubForm.landlineNo.errors?.minlength" class="invalid-feedback">
                                                Landline No. is atleast of 7 digits.
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>



                                </div>
                                <p id="paradiv">
                                    {{respMessage}}
                                </p>
                                <div class="clearfix"></div>
                                <input type="button" id="btnadd" (click)="addUser()" value="Add User" class="btn btn-info pull-right">

                                <button type="submit" id="btninvite"  class="btn btn-info pull-right">Invite User</button>
                                <span *ngIf="isError" style="color: red;margin-left: 707px;">Kindly fill all the fields</span>

                                <a (click)="onOkClick()" id="okbtn" class="btn btn-info pull-right">OK</a>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="txnPendingSub" style="display: none;top: 0%;z-index: 9999;opacity: 1;" class="popupnew modal fade" >
    <div class="modal-dialog modal-md emaildiv" style="top: 120px;">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-body">
             <h2>{{errMsg}}</h2>
             <div class="padnew">
                <div class="row">
                   <!--<p><strong>Enter Email ID here</strong></p> -->
                   <div class="col-md-12">
                      <div class="row">
                         <div class="col-md-12">
                            <p>{{trnxPendingMsg}}</p>
                           
                         </div>
                      </div>
                      <button type="submit" class="handleRefEdit btn btn-info pull-right" (click)="pendingOkBtn()">OK</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>